<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Sedentary</string>
				<string>Light</string>
				<string>Moderate</string>
				<string>Active</string>
				<string>Extreme</string>
			</array>
			<key>Values</key>
			<array>
				<string>ACTIVITY_LEVEL_SEDENTARY</string>
				<string>ACTIVITY_LEVEL_LIGHT</string>
				<string>ACTIVITY_LEVEL_MODERATE</string>
				<string>ACTIVITY_LEVEL_ACTIVE</string>
				<string>ACTIVITY_LEVEL_EXTREME</string>
			</array>
			<key>DefaultValue</key>
			<string>ACTIVITY_LEVEL_MODERATE</string>
			<key>Key</key>
			<string>Activity Level</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Activity Level</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>70</string>
			<key>Key</key>
			<string>Height</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Height (inches)</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>150</string>
			<key>Key</key>
			<string>Weight</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Weight (lbs)</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Male</string>
				<string>Female</string>
			</array>
			<key>Values</key>
			<array>
				<string>GENDER_MALE</string>
				<string>GENDER_FEMALE</string>
			</array>
			<key>DefaultValue</key>
			<string>GENDER_MALE</string>
			<key>Key</key>
			<string>Gender</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Gender</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Birthdate</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>January</string>
				<string>February</string>
				<string>March</string>
				<string>April</string>
				<string>May</string>
				<string>June</string>
				<string>July</string>
				<string>August</string>
				<string>September</string>
				<string>October</string>
				<string>November</string>
				<string>December</string>
			</array>
			<key>Values</key>
			<array>
				<string>MONTH_JANUARY</string>
				<string>MONTH_FEBRUARY</string>
				<string>MONTH_MARCH</string>
				<string>MONTH_APRIL</string>
				<string>MONTH_MAY</string>
				<string>MONTH_JUNE</string>
				<string>MONTH_JULY</string>
				<string>MONTH_AUGUST</string>
				<string>MONTH_SEPTEMBER</string>
				<string>MONTH_OCTOBER</string>
				<string>MONTH_NOVEMBER</string>
				<string>MONTH_DECEMBER</string>
			</array>
			<key>DefaultValue</key>
			<string>MONTH_JANUARY</string>
			<key>Key</key>
			<string>Month</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Month</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>Day</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Day</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1980</string>
			<key>Key</key>
			<string>Year</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Year</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
